* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f2eb;
  font-family: "Helvetica", serif;
}

header {
  background-color: #b0d382;
  color: #fff;
  height: 60px;
}
.logo h1{
  padding: 10px;
  text-decoration: none;
}
.logo a {
  color: #fff;
  text-decoration: none;
}
.icon{
  margin-left: 10px;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  display: flex; 
  margin-top: 7px;
}

.header-nav ul li {
  list-style: none;
  margin-left: 15px; 
}

.header-nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 15px; 
  display: block;
  transition: color 0.3s ease;
}

.header-nav ul li a:hover {
  color: #2271c5; 
}
.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.blog-card {
  flex: 0 0 390px; 
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  /* text-align: center; */
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.blog-card img{
  width: 280px;
  height: 180px;
}

.card-content a button {
  font-size: 13px;
  padding: 5px 10px;
}

.card-content p, .card-content h2{
  margin: 20px 0;
}

.sec-header {
  margin-bottom: 50px;
}
.sec-title {
  font-size: 35px;
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
}
.secline {
  width: 130px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: auto;
}

.home-page {
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: space-evenly; 
  padding: 50px; 
  background-color: #f5f5f5; 
  position: relative;
}

.hero-image img {
  max-width: 100%; 
  height: 100%; 
  border-radius: 10px;
}

.hero-text {
  max-width: 50%; 
  padding-left: 20px;
}

.hero-text h1 {
  font-size: 36px; 
  color: #333; 
  margin-bottom: 20px; 
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #666; 
  margin-bottom: 30px; /
}

.hero-button {
  padding: 10px 20px;
  color: blue;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid blue;
  cursor: pointer;
  text-decoration: none;
  /* transition: background-color 0.3s; */
}

.hero-button:hover {
  background-color: #2271c5;
  color: white;
}

@media (max-width: 768px) {
  .home-page {
    flex-direction: column-reverse; 
    text-align: center; 
  }

  .hero-text {
    max-width: 100%;
    padding-left: 0;
  }

  .hero-image {
    margin-bottom: 20px;
  }
}
footer {
  height: 140px;
  text-align: center;
  padding: 40px;
  background-color: #b0d382;
}
.foot-ul {
  list-style: none;
  padding-right: 20px;
}
.foot-ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.foot-ul li a {
  display: block;
  line-height: 50px;
  padding-top: 5px;
  /* margin: 0 30px; */
}
.foot-ul li a i {
  color: whitesmoke;
  font-size: 25px;
}
.foot-ul li:hover {
  background-color: #2271c5;
}
footer p {
  padding-top: 20px;
  font-size: 12px;
  color: whitesmoke;
}
