* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f2eb;
  font-family: "Helvetica", serif;
}

header {
  background-color: #b0d382;
  color: #fff;
  padding: 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}
.icon{
  margin-left: 10px;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li {
  list-style: none;
  margin-left: 20px; 
}

.header-nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 15px; 
  /* display: block; */
  transition: color 0.3s ease;
}

.header-nav ul li a:hover {
  color: #2271c5; 
}
.blog-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.blog-card {
  flex: 0 0 390px; 
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  /* text-align: center; */
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.blog-card img{
  width: 280px;
  height: 180px;
}

.card-content a button {
  font-size: 13px;
  padding: 5px 10px;
}

.card-content p, .card-content h2{
  margin: 20px 0;
}
footer {
  height: 140px;
  text-align: center;
  padding: 40px;
  background-color: #b0d382;
}
.foot-ul {
  list-style: none;
  padding-right: 20px;
}
.foot-ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.foot-ul li a {
  display: block;
  line-height: 50px;
  padding-top: 5px;
  /* margin: 0 30px; */
}
.foot-ul li a i {
  color: whitesmoke;
  font-size: 25px;
}
.foot-ul li:hover {
  background-color: #2271c5;
}
footer p {
  padding-top: 20px;
  font-size: 12px;
  color: whitesmoke;
}



